<link rel="stylesheet" href="/assets/stylesheets/signup.css" id="theme-color">
<%= render partial: "layouts/header" %> 
<br>
<br>
<br>
<br>
<body> 
  <section class="py-7 bg-dark section-angle top-right bottom-right">
    <div class="container">
         <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h2 class="text-white heading-black">Sign In.</h2>
                <p class="text-light lead">Welcome back, we missed you!</p>
                <br>
                <br>
            </div>
    </div>
        <div class="row d-flex justify-content-center">
          <div class="col-md-6">
            <div>
                <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                      <div class="field">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", label_class: "text-light lead" %>
                </div>

                <div class="field">
                  <%= f.password_field :password, autocomplete: "current-password", label_class: "text-light lead" %>
                </div>

                <% if devise_mapping.rememberable? %>
                  <div class="field">
                    <%= f.check_box :remember_me %>
                  </div>
                <% end %>

                <div class="actions">
                  <%= f.submit "Sign In" %>
                </div>
                  <% end %>
                  <br>
                  <br>
            </div>
      </div>
      <div class="container">
         <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <br>
                <div class = "col-md-6 mx-auto text-center">
                        <p class="text-light lead">Need an account?</p>
                        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary d-inline-flex flex-row align-items-center" %>
                  </div>
            </div>
    </div>
    
  </section>
</body>
<footer>
  <%= render partial: "layouts/footer" %> 
</footer>
