<h1>My Profile</h1>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<%= link_to "See All Users", users_path, :method => :get %>
<br>
<%= @email %>
<br>
<%= @public_key %>
<br>
<%= button_to "Sign in with Insta", user_instagram_basic_omniauth_authorize_path, data: {turbo: "false"} %>

<% if @accounts.length != 0 %>
    <% @accounts.each do |account| %>
    <%= account.account_type %>
    <br>
    <%= account.username %>
    <br>
    <%= account.media_count %>
    <br>
    <br>
    <br>
    <% end %>
<% else %>
    <h2>No linked accounts for this user yet</h2>
    <p>Link one today!</p>
<% end %>