<h1>My Profile</h1>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<%= link_to "See All Users", users_path, :method => :get %>
<br>
<%= @email %>
<br>
<%= @public_key %>
<br>
<%= button_to "Sign in with Insta", user_instagram_basic_omniauth_authorize_path, data: {turbo: "false"} %>