<head>
    <%= stylesheet_link_tag 'linked_card', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'profile_card', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<header>
  <%= render partial: "layouts/header" %> 
</header>

<body class = "profile_main_body">
    <%= render partial: "layouts/profile_card" %>
    <br>
    <br>

    <div class="container">
        <div class="row">
            <%= render partial: "layouts/linked_card" %>
            <%= render partial: "layouts/linked_card" %> 
        </div>
    </div>

  <br>
</body>

<footer>
  <%= render partial: "layouts/footer" %> 
</footer>